{% extends "base.html.twig" %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {#    <div class="container">#}
    <form action="{{path('login') }}" method="post" class="formlogin">
        <label for="username" style="font-size: 24px">Identifiant:</label><br>
        <input type="text" id="username" name="_username" value="{{ last_username }}"/><br>

        <label for="password" style="font-size: 24px">Mot de passe:</label><br>
        <input type="password" id="password" name="_password" readonly/><br>
        <br>
        <div>
            <script type="text/javascript">
                function getRandomInt(max) {
                    return Math.floor(Math.random() * Math.floor(max));
                }
                var tab = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9];
                var randmax = 10;
                var saut = 0;
                for (var i = 0; i <= 9; i++) {
                    var rand = getRandomInt(randmax);
                    document.write('<input type="button" value="' + tab[rand] + '" class="btnchifr"/>');
                    if (saut === 4) {
                        document.write("<br>");
                    }
                    saut = saut + 1;
                    tab.splice(rand, 1);
                    randmax = randmax - 1;
                }
                //tab.splice(1,1,12) => remplace l'element d'index 1 par 12 tab.splice(1,1) supprime l'element d'index 1
            </script>
            <br>
            <input type="button" value="Effacer" style="border-radius: 1rem; margin-top: 6px;" class="reini codesecr"/>
        </div>
        <br>
        <button type="submit" class="btn btn-success">Se connecter</button>
    </form>
    {#    </div>#}
{% endblock body %}

{% block javascripts %}
    <style id="teste"></style>
    <script type="text/javascript">
        $(document).ready(function (e) {
            $(".btnchifr").on("mouseup", function (e) {
                $("#password").val($("#password").val() + $(this).val());
                var lecode = document.getElementById("password").value;
        {#boucle code secret#}
        {%for code in codes%} 
               if (lecode == {{code.code|e}}) {
                        document.getElementById("teste").innerHTML = "{{code.style|e}}";
                }else{
                    document.getElementById("teste").innerHTML = "";
                }
        {%endfor %}  
          {#fin boucle code secret#}  
                    });
                    $(".reini").on("mouseup", function (e) {
                    $("#password").val($("").val());
                });
            });
    </script>
{% endblock %}
{#$(".chiffre").on("click", function () {
 $("#nb").val($("#nb").val() + $(this).val());
});#}
{#http://127.0.0.1:554/perso
https://godofwar.playstation.com/#}